xml/wow_sets.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:complexType name="categoryType">
		<xs:sequence>
			<xs:element ref="name"/>
			<xs:element name="class" type="classType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="classType">
		<xs:sequence>
			<xs:element ref="class_name"/>
			<xs:element name="set" type="setType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="class_name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Druid"/>
				<xs:enumeration value="Hunter"/>
				<xs:enumeration value="Mage"/>
				<xs:enumeration value="Paladin"/>
				<xs:enumeration value="Priest"/>
				<xs:enumeration value="Rogue"/>
				<xs:enumeration value="Shaman"/>
				<xs:enumeration value="Warlock"/>
				<xs:enumeration value="Warrior"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="name" type="xs:string"/>
	<xs:complexType name="pieceType">
		<xs:sequence>
			<xs:element ref="name"/>
			<xs:element ref="requirement" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="requirement" type="xs:string"/>
	<xs:complexType name="setType">
		<xs:sequence>
			<xs:element ref="name"/>
			<xs:element name="piece" type="pieceType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="wow_sets">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="category" type="categoryType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
